<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" href = "icon.png" type = "image/x-icon">
    <link rel="stylesheet" href="sigDesign/src/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="sigDesign/style.css">
    <title>RBSL | <%= title %></title>
</head>
<body>
    <div class="main">
        <div class="box header">
            <div class="logo"><a href="/"><img src="LOGO.png" alt=""></a></div>
            <div class="msg">Welcome, <%= name %>!</div>
            <div class="logout">
                <a href="/logout">Logout</a>  <!--<i class="fa fa-sign-out"></i>-->
            </div>
        </div>

        <div class="bodyBox">
            <div class="leftBox">
                <div class="search">
                    <input type="text" id="myInput" placeholder="Search Code" onkeyup="searchFun()">
                </div>

                
                <div class="table">
                    <table>
                        <tbody id="myTable">
                            <% for(client in clients){ %>
                                <tr>
                                    <td><a href=<%= `http://localhost:4000/?code=${client}`%>><%= client %></a></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="rightBox">
                <% if(clients[imgCode]){ %>
                    <h2><%= imgCode %> - <%= clients[imgCode].name%> - <%= clients[imgCode].status %></h2>
                <% } %>
                <img src=<%= `http://localhost:4000/image?code=${imgCode}`%> alt="Responsive image">
                <!-- <img src="src/img/flower.jpg" alt="img"> -->
            </div>
        </div>
        <div class="box foot">&copy;Rizvi Rahman Omee</div>
    </div>


    <script>
        const searchFun = () =>{
            let filter = document.getElementById('myInput').value.trim().toUpperCase();
            console.log(filter);

            let myTable = document.getElementById('myTable');

            let tr = myTable.getElementsByTagName('tr');

            for(let i = 0; i < tr.length; i++){
                let td = tr[i].getElementsByTagName('td')[0];
                console.log(td);
                if(td){
                    let textvalue = td.textContent || td.innerHTML;

                    if(textvalue.toLocaleUpperCase().indexOf(filter) > -1){
                        tr[i].style.display = "";
                    }
                    else{
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</body>
</html>